body {
	font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

/* kendo overrides */
.km-flat .km-view .km-navbar,
.km-flat .km-view .km-content {
    background-color: #fff;
}

/* images */
.img-logo {
    width: 101px;
    height: 28px;
    background-image: url(../styles/images/logo.png);
    margin: 0px auto;
}
.img-large-logo {
    width: 174px;
    height: 48px;
    background-image: url(../styles/images/logo-large.png);
    margin: 0px auto;
}
.img-leaf {
    width: 210px;
    height: 219px;
    background-image: url(../styles/images/leaf.png);
    margin: 0px auto;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .img-logo {
        background-size: 101px 28px;
		background-image: url("../styles/images/logo@2x.png);
    }
    .img-large-logo {
		background-size: 174px 48px;
		background-image: url("../styles/images/logo-large@2x.png);
    }
    .img-leaf {
		background-size: 210px 219px;
        background-image: url("../styles/images/leaf@2x.png);
    }
}