body {
	font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
}

/* layout styles */
.km-view .km-header,
.km-view .km-navbar,
.km-view .km-content,
.km-view .km-footer {
    background-color: #fff;
}

/* flex styles*/
.km-stretched-view {
    width: 100%;
    height: 100%;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;  
    -webkit-flex-direction: column;
    flex-direction: column;
}
.km-stretched-view > * {
    height: 100%;
}

/* scrollbar styles */
.km-ios7 .km-touch-scrollbar { background-color: #81c342; }

/* tint color */
.km-ios7 .k-list,
.km-ios7 .k-slider,
.km-ios7 .km-widget {
    color: #274c65;
}

/* typography styles */
.km-view .km-content h1, 
.km-view .km-content h2, 
.km-view .km-content h3, 
.km-view .km-content h4, 
.km-view .km-content h5, 
.km-view .km-content h6 {
    margin: 0;
}
.km-view .km-content p {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}
.km-view .km-content h1 { font-size: 1.3em; }     /* 19px */
.km-view .km-content h2 { font-size: 1.2em; }     /* 18px */
.km-view .km-content h3 { font-size: 1.1em; }     /* 16px */
.km-view .km-content h4 { font-size: 1em; }       /* 15px */
.km-view .km-content h5 { font-size: 0.95em; }    /* 14px */
.km-view .km-content h6 { font-size: 0.9em; }     /* 13px */
.km-view .km-content p {
    font-size: 0.85em;
    color: #888;
}
.km-view .km-content a {
    font-size: 0.85em;
    color: #81c342;
    text-decoration: underline;
}

/* header styles */
.km-view .km-header > .km-navbar {
    border-color: #dadada;
}
.km-view .km-header > .km-navbar > .km-leftitem > .km-button, 
.km-view .km-header > .km-navbar > .km-rightitem > .km-button {
    margin: 0;
    padding: 0 0.8em; 
}
.km-view .km-header > .km-navbar > .km-leftitem > .km-back:before,
.km-view .km-header > .km-navbar > .km-rightitem > .km-back:before {
    display: none;
}

.km-view .km-header.lz-header-transparent {
    padding: 1.6em 1.4em 0 1.4em;
}

/* footer styles */
.km-view .km-footer > .km-navbar {
    -webkit-box-shadow: 0px -1px 2px 0px #dadada;
	box-shadow: 0px -1px 2px 0px #dadada;
}
.km-view .km-footer > .km-navbar > .km-leftitem {
    left: 0;
    width: 50%;
    text-align: left;
}
.km-view .km-footer > .km-navbar > .km-rightitem {
    right: 0;
    width: 50%;
    text-align: right;
}

.km-view .km-footer.lz-footer-transparent {
    padding: 0 1.4em 2.5em 1.4em;
}
.km-view .km-footer.lz-footer-transparent > .km-navbar {
    border-width: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* button styles */
.km-view .km-button.lz-button {
    background-color: #81c342;
    padding: 0.6em 1.8em;
    font-size: 0.95em;
    color: #fff;
    text-decoration: none;
    -webkit-border-radius: 2em;
    border-radius: 2em;
}
.km-view .km-button.lz-button.km-state-active { background-color: #6aa92d; }
.km-view .km-button.lz-button.km-state-disabled { background-color: #81c342; }

.km-view .km-button.lz-button.lz-button-alternate { background-color: #274c65; }
.km-view .km-button.lz-button.lz-button-alternate.km-state-active { background-color: #1b3a50; }
.km-view .km-button.lz-button.lz-button-alternate.km-state-disabled { background-color: #93a5b2; }

.km-view .km-button.lz-button.lz-button-wide {
    padding: 0.6em 3em;
}
.km-view .km-button.lz-button.lz-button-icon .fa {
    margin-right: 0.5em;
}

/* circle button styles */
.km-view .km-button.lz-button.lz-button-circle {
    border: 5px solid #fff;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    padding: 2em;
    margin: 0;
    z-index: 100;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 3px;
    -webkit-box-shadow: 0px -1px 2px 0px #dadada;
	box-shadow: 0px -1px 2px 0px #dadada;
}
.km-view .km-button.lz-button.lz-button-circle.circle-left-position { 
    left: 0.6em;
    right: initial;
    margin-left: 0;
}
.km-view .km-button.lz-button.lz-button-circle.circle-right-position {
    left: initial;
    right: 0.6em;
    margin-left: 0;
}

.km-view .km-button.lz-button.lz-button-circle { background-color: #81c342; }
.km-view .km-button.lz-button.lz-button-circle.km-state-active { background-color: #6aa92d; }
.km-view .km-button.lz-button.lz-button-circle.km-state-disabled { background-color: #81c342; }

.km-view .km-button.lz-button.lz-button-circle.add-leaf {
    width: 28px;
    height: 45px;
    background-image: -webkit-image-set(url('../styles/images/icon-new-leaf.png') 1x, url('../styles/images/icon-new-leaf@2x.png') 2x);
}

/* footer button styles */
.km-view .km-button.lz-button.lz-button-footer {
    background-color: #fff;
    position: static;
	margin: 0;
    padding: 0.9em;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 0.95em;
    font-weight: 600;
    color: #555;
    text-align: center;
}
.km-view .km-button.lz-button.lz-button-footer.checked {
    background-color: #81c342;
    color: #fff;
}
.km-view .km-button.lz-button.lz-button-footer.km-state-active,
.km-view .km-button.lz-button.lz-button-footer.km-state-disabled {
    opacity: .4;
}

/* social button styles */
.km-view .km-button.lz-button.lz-button-social {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5em 2em;
}
.km-view .km-button.lz-button.lz-button-social.km-state-active,
.km-view .km-button.lz-button.lz-button-social.km-state-disabled {
    background-color: #fff;
    opacity: .4;
}

.km-view .km-button.lz-button.lz-button-social.facebook {
    width: 15px;
    height: 25px;
    background-image: -webkit-image-set(url('../styles/images/icon-facebook.png') 1x, url('../styles/images/icon-facebook@2x.png') 2x);
}
.km-view .km-button.lz-button.lz-button-social.google {
    width: 25px;
    height: 27px;
    background-image: -webkit-image-set(url('../styles/images/icon-google.png') 1x, url('../styles/images/icon-google@2x.png') 2x);
}
.km-view .km-button.lz-button.lz-button-social.twitter {
    width: 32px;
    height: 25px;
    background-image: -webkit-image-set(url('../styles/images/icon-twitter.png') 1x, url('../styles/images/icon-twitter@2x.png') 2x);
}

/* input styles */
.km-view .km-content input[type="text"],
.km-view .km-content input[type="email"],
.km-view .km-content input[type="password"] {
    background-color: #f7f7f7;
    border: 2px solid #dadada;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    display: block;
    font-size: 0.9em;
    color: #666;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    padding: 0.8em 1.2em;
    margin-bottom: 1.9em;
    -webkit-appearance: none;
}
.km-view .km-content input[type="text"]:focus,
.km-view .km-content input[type="email"]:focus,
.km-view .km-content input[type="password"]:focus {
    border-color: #81c342;
}

/* list styles */
.km-view .km-content .km-list > li {
    background: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-top-color: #fff;
    border-bottom-color: #e6e4e4;
    border-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0.8em 1.2em;
}
.km-view .km-content .km-list > li > a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

/* form styles */
.km-view .km-content .lz-form {
    text-align: center;
    margin: 1.7em 1.4em;
}
.km-view .km-content .lz-form.top-margin {
     margin-top: 9em;
}
.km-view .km-content .lz-form > .km-button {
    margin-bottom: 1.9em;
}
.km-view .km-content .lz-form > p {
    margin-top: 0;
    margin-bottom: 1.9em;
}

/* image styles */
.img-small-logo {
    width: 101px;
    height: 28px;
    background-image: -webkit-image-set(url('../styles/images/logo.png') 1x, url('../styles/images/logo@2x.png') 2x);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -14px;
}
.img-large-logo {
    width: 174px;
    height: 48px;
    background-image: -webkit-image-set(url('../styles/images/logo-large.png') 1x, url('../styles/images/logo-large@2x.png') 2x);
    margin: 1.6em auto 0 auto;
}
.img-leaf {
    width: 210px;
    height: 219px;
    background-image: -webkit-image-set(url('../styles/images/leaf.png') 1x, url('../styles/images/leaf@2x.png') 2x);
    margin: auto;
}

/* home view styles */

/* login view styles */

/* leafs view styles */
.leaf-item-template {
    padding: 0.8em 0 0.8em 5.5em;
    position: relative;
}
.leaf-item-template > .leaf-item-image {
    width: 72px;
    height: 72px;
    border: 3px solid #e6e4e4;
    background-color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -36px;
}
.leaf-item-template > .leaf-item-badge {
    width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 32px 32px 0;
	border-color: transparent #81c342 transparent transparent;
    position: absolute;
    top: -0.8em;
    right: -1.2em;
    color: #fff;
}
.leaf-item-template > .leaf-item-badge > .fa {
   position: relative;
	top: -2px;
	left: 18px;
    font-size: 0.7em;
}
.leaf-item-template > h3 {
    color: #555;
    font-weight: bold;
    margin: 0;
}
.leaf-item-template > p {
    color: #555;
    margin-top: 0.6em;
    margin-bottom: 0;
}

.leaf-details-container {
    border-top: 1px solid #dadada;
    padding: 1em 1.4em;
}
.leaf-details-container > div {
    position: relative;
    height: 100%;
}
.leaf-details-container > div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 1.4em;
    width: 2px;
    height: 100%;
    background: #dadada;
}
.leaf-details-container h2,
.leaf-details-container h6 {
    text-align: right;
    color: #888;
}
.leaf-details-container h2 {
    color: #274c65;
}
.leaf-details-container .leaf-damage {
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
    background: #fff;
    border: 5px solid #274c65;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}
.leaf-details-container .leaf-damage:after {
    content: "%";
    font-size: 1.2em;
    font-weight: bold;
    color: #274c65;
    position: relative;
    left: 1.65em;
    top: -0.75em;
}
.leaf-details-container .leaf-damage > span {
    font-size: 1.45em;
    color: #274c65;
    margin: 0.15em auto;
	display: block;
}
.leaf-details-container .leaf-info {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 3.5em;
}
.leaf-details-container .leaf-info > div {
    display: block;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    padding-left: 0.7em;
}
.leaf-details-container .leaf-info > div > span {
    width: 1.6em;
    height: 1.6em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #dadada;
    background: #fff;
    display: inline-block;
    text-align: center;
}
.leaf-details-container .leaf-info > div > span > .fa:before {
    font-size: 0.85em;
}
.leaf-details-container .leaf-info > div > h6 {
    font-size: 0.85em;
    color: #a2a2a2;
    width: 90px;
    display: inline-block;
    text-align: left;
    margin-left: 15px;
}
.leaf-details-container .leaf-info > div > h5 {
    color: #555;
    display: inline-block;
    text-align: left;
}

.leaf-image-container {
	width: 100%;
}