body {
	font-family: "Open Sans", sans-serif;
}

/* kendo override styles */
.km-ios7 .km-view .km-header,
.km-ios7 .km-view .km-navbar,
.km-ios7 .km-view .km-footer,
.km-ios7 .km-view .km-content {
    background-color: #fff;
}

.km-ios7 .k-list,
.km-ios7 .k-slider,
.km-ios7 .km-widget {
    color: #274c65;
}

.km-ios7 .km-view .km-content p {
    font-size: 0.9em;
    color: #888;
    text-align: left;
    margin: 1.9em 0 0 0;
}
.km-ios7 .km-view .km-content a {
    font-size: 0.9em;
    color: #81c342;
    text-decoration: underline;
}

.km-ios7 .km-view .km-button.lz-button {
    color: #fff;
    padding: 0.6em 2em;
    background-color: #81c342;
    font-size: 1em;
    text-decoration: none;
    -webkit-border-radius: 2em;
    border-radius: 2em;
}
.km-ios7 .km-view .km-button.lz-button.km-state-hover { background-color: #90d151; }
.km-ios7 .km-view .km-button.lz-button.km-state-active { background-color: #6aa92d; }
.km-ios7 .km-view .km-button.lz-button.km-state-disabled { background-color: #81c342; }

.km-ios7 .km-view .km-button.lz-button.lz-button-social {
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5em 2em;
}
.km-ios7 .km-view .km-button.lz-button.lz-button-social.facebook {
    width: 15px;
    height: 25px;
    background-image: -webkit-image-set(url('../styles/images/icon-facebook.png') 1x, url('../styles/images/icon-facebook@2x.png') 2x);
}
.km-ios7 .km-view .km-button.lz-button.lz-button-social.google {
    width: 25px;
    height: 27px;
    background-image: -webkit-image-set(url('../styles/images/icon-google.png') 1x, url('../styles/images/icon-google@2x.png') 2x);
}
.km-ios7 .km-view .km-button.lz-button.lz-button-social.twitter {
    width: 32px;
    height: 25px;
    background-image: -webkit-image-set(url('../styles/images/icon-twitter.png') 1x, url('../styles/images/icon-twitter@2x.png') 2x);
}

.km-ios7 .km-view .km-button.lz-button.lz-button-alternate { background-color: #274c65; }
.km-ios7 .km-view .km-button.lz-button.lz-button-alternate.km-state-hover { background-color: #416984; }
.km-ios7 .km-view .km-button.lz-button.lz-button-alternate.km-state-active { background-color: #1b3a50; }
.km-ios7 .km-view .km-button.lz-button.lz-button-alternate.km-state-disabled { background-color: #93a5b2; }

.km-ios7 .km-view .km-button.lz-button.lz-button-large {
    padding: 0.6em 3em;
}

.km-ios7 .km-view .km-content input[type="text"],
.km-ios7 .km-view .km-content input[type="email"],
.km-ios7 .km-view .km-content input[type="password"] {
    background-color: #f7f7f7;
    border: 2px solid #dadada;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    display: block;
    font-size: 0.9em;
    color: #666;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    padding: 0.8em 1.2em;
    margin-bottom: 1.9em;
    -webkit-appearance: none;
}
.km-ios7 .km-view .km-content input[type="text"]:focus,
.km-ios7 .km-view .km-content input[type="email"]:focus,
.km-ios7 .km-view .km-content input[type="password"]:focus {
    border-color: #81c342;
}

/* image styles */
.img-small-logo {
    width: 101px;
    height: 28px;
    background-image: -webkit-image-set(url('../styles/images/logo.png') 1x, url('../styles/images/logo@2x.png') 2x);
    display: inline-block;
    vertical-align: middle;
}
.img-large-logo {
    width: 174px;
    height: 48px;
    background-image: -webkit-image-set(url('../styles/images/logo-large.png') 1x, url('../styles/images/logo-large@2x.png') 2x);
    margin: 1.6em auto 0 auto;
}
.img-leaf {
    width: 210px;
    height: 219px;
    background-image: -webkit-image-set(url('../styles/images/leaf.png') 1x, url('../styles/images/leaf@2x.png') 2x);
    margin: 6em auto;
}

/* form styles */
.lz-form {
    text-align: center;
    margin: 1.7em 1.4em;
}

/* home view styles */
.home-view .km-footer {
    padding: 0 1.4em 2.5em 1.4em;
}
.home-view .km-footer .km-navbar {
    border-width: 0;
}

/* sign in view styles */
.signin-view .km-footer {
    padding: 0 1.4em 2em 1.4em;
}
.signin-view .km-footer .km-navbar {
    border-width: 0;
}
.signin-view .lz-form {
    margin-top: 6em;
}
.signin-view .km-footer .km-navbar .km-view-title {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}